*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    transition: all .3s ease;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    background: #e9fcfa;
    text-transform: capitalize;
}
header,main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
header{
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    top: 0;
    background: #ef5350;
    z-index: 1000;
}
header img{
    width: 150px;
}
header input{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: #e9fcfa;
    outline: none;
}
main{
    margin: 0 auto;
    justify-content: center;
    margin-top: 120px;
    max-width: 1200px;
    /* animation: op 1.8s ease; */
}
main .card{
    position: relative;
    width: 200px;
    background: white;
    transition: all .3s ease;

    display: flex;
    flex-direction: column;
    padding: 5px;
    animation: op 1.8s ease;
}
main .card:hover{
    scale: 1.1;
    box-shadow: 0px 0px 100px 10px #9e9e9e88;
}
.img-principal{
    width: 100px;
}
.header-card{
    background: rgba(64, 224, 208, 0.419);
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-card{
    background: rgba(102, 51, 153, 0.323);
    width: 100%;
    height: 190px;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
}
.main-card img{
    width: 100%;
    height: 100%;
}
.footer-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(65, 105, 225, 0.399);
    width: 100%; 
    height: 50px;
    padding: 10px;   
}
.footer-card img{
    width: 50px;
    margin-bottom: 45px;
}
main .removerItem{
    display: none;
}
.type{
    padding: 3px;
}
a{
    text-decoration: none;
    color: #ef5350;
}
.arrow-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 50px;
    z-index: 3;
}
.arrow-top:hover{
    scale: 1.1;
}
.arrow-top:active{
    scale: 1;
}
.search ion-icon{
    background: #ef5350;
    cursor: pointer;
    font-size: 35px;
    padding: 10px;
    border: none;
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: 100;
    width: 50px;
    height: 46px;
    color: white;
}
.darck-body{
    background: #112233;
}
.darck-header{    
    background: #234567;
}
.search .darck-btn{    
    background: #234567;
}
.search{
    position: relative;
}
footer{
    position: fixed;
    left: 20px;
    bottom: 20px;
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #1e3e5e;
    background: #2b5a894f;
    padding: 10px;
}
.gt-darck{
    color: white;
}
.cookie{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #2345679c;
    color: white;
    font-size: 25px;
}
.cookie button{
    font-size: 27px;
    padding: 5px 15px;
    background: rgb(58, 128, 204);
    color: white;
    border: none;
    cursor: pointer;
}
.cookie button:hover{
    background: rgb(47, 106, 170);
}
.circle-loader{
    position: fixed;
    z-index: 30000;
    top: 0;bottom: 0;left: 0;right: 0;
    width: 60px; height: 60px;
    margin: auto;
    border: solid 10px rgba(0, 106, 255, 0.518);
    border-radius: 50%;
    border-top-color: rgb(255, 230, 0);
    animation: rotateSpine .3s linear infinite;
}
.count-pokemon{
    position: fixed;
    top: 160px;
    right: 10px;
    color: white;
    z-index: 9999;
    text-align: center;
    background: #ef5350;
    border: solid 5px #fff;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    animation: op 1.8s ease;
}
.count-pokemon:active{
    scale: .8;
}
@media (max-width:470px){
    header img{
        width: 100px;
    }
    main{
        margin-top: 140px;
    }
}
@keyframes op{ 0% { opacity: -1; } 100% { opacity: 1; } }

@keyframes rotateSpine { 100% { rotate: 360deg; } }